certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.3
cycler==0.10.0
Cython==0.29.24
decorator==4.4.2
et-xmlfile==1.1.0
idna==3.2
imageio==2.10.1
imageio-ffmpeg==0.4.5
importlib-metadata==4.8.3
joblib==1.1.0
kiwisolver==1.3.1
langid==1.1.6
matplotlib==3.3.4
moviepy==1.0.3
nltk==3.6.7
numpy==1.19.5
oauth==1.0.1
oauthlib==3.1.1
openpyxl==3.0.7
pandas==1.1.5
Pillow==8.4.0
proglog==0.1.9
pyaes==1.6.1
pyasn1==0.4.8
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.19.0
pytz==2021.1
PyYAML==5.4.1
ratelimit==2.2.1
regex==2021.11.10
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
searchtweets==1.7.6
six==1.16.0
SpeechRecognition==3.8.1
Telethon==1.23.0
tqdm==4.62.3
typing_extensions==4.0.1
urllib3==1.26.6
Wave==0.0.2
wordcloud==1.8.1
zipp==3.6.0
